<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <VeInteractive_VePlatform>
            <version>16.3.5.0</version>
        </VeInteractive_VePlatform>
    </modules>
    <global>
        <models>
            <VeInteractive_VePlatform>
                <class>VeInteractive_VePlatform_Model</class>
            </VeInteractive_VePlatform>
        </models>
        <helpers>
            <VeInteractive_VePlatform>
                <class>VeInteractive_VePlatform_Helper</class>
            </VeInteractive_VePlatform>
        </helpers>
        <events>
            <admin_user_load_after>
                <observers>
                    <veplatform_admin_user_load_after_observer>
                        <type>singleton</type>
                        <class>VeInteractive_VePlatform_Observer_AdminUserLoadAfter</class>
                        <method>checkInstallation</method>
                    </veplatform_admin_user_load_after_observer>
                </observers>
            </admin_user_load_after>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <veplatform_controller_action_layout_generate_blocks_after_observer>
                        <type>singleton</type>
                        <class>VeInteractive_VePlatform_Observer_Layout</class>
                        <method>updateLayout</method>
                    </veplatform_controller_action_layout_generate_blocks_after_observer>
                </observers>
            </controller_action_layout_generate_blocks_after>
            <checkout_onepage_controller_success_action>
                <observers>
                    <veplatform_checkout_onepage_controller_success_action_observer>
                        <type>singleton</type>
                        <class>VeInteractive_VePlatform_Observer_ThanksPage</class>
                        <method>showPixel</method>
                    </veplatform_checkout_onepage_controller_success_action_observer>
                </observers>
            </checkout_onepage_controller_success_action>
            <checkout_multishipping_controller_success_action>
                <observers>
                    <veplatform_checkout_multishipping_controller_success_action_observer>
                        <type>singleton</type>
                        <class>VeInteractive_VePlatform_Observer_ThanksPage</class>
                        <method>showPixel</method>
                    </veplatform_checkout_multishipping_controller_success_action_observer>
                </observers>
            </checkout_multishipping_controller_success_action>
        </events>
        <blocks>
            <veplatform>
                <class>VeInteractive_VePlatform_Block</class>
            </veplatform>
            <adminhtml>
                <rewrite>
                    <system_config_form_fieldset>VeInteractive_VePlatform_Block_ConfigFieldset</system_config_form_fieldset>
                </rewrite>
            </adminhtml>
        </blocks>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <veplatform before="Mage_Adminhtml">VeInteractive_VePlatform_Adminhtml</veplatform>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <layout>
            <updates>
                <veinteractive_veplatform>
                    <file>veplatform.xml</file>
                </veinteractive_veplatform>
            </updates>
        </layout>
        <routers>
            <veplatform>
                <use>standard</use>
                <args>
                    <module>VeInteractive_VePlatform</module>
                    <frontname>veplatform</frontname>
                </args>
            </veplatform>
        </routers>
    </frontend>
    <default>
        <veplatform>
            <service>
                <url>https://veconnect.veinteractive.com</url>
            </service>
        </veplatform>
    </default>
</config>
